*{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: #fafafa;
    padding: 10px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 25%;
    margin-right: 25%;
    width: fit-content;
}

.container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 541px;
}

.item{
    margin: 0;
}

#img-celular{
    height: 620px;
}

.container-dados{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 396px;
    background-color: white;
    border: 1px solid lightgray;
}

#logo-insta{
    padding: 40px;
}

#login{
    width: 70%;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 0;
}

#password{
    width: 70%;
    margin-top: 5px;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 0;
}

#entrar{
    width: 70%;
    height: 30px;
    background-color: #0095f6;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}


#ou{
    margin-top: 20px;
    color: gray;
    margin-bottom: 0;
}

.entrar-facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: min-content;
    background-color: white;
    color: #385185;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 20px;
}

.entrar-facebook img{
    width: 6%;
    margin-left: 0;
    margin-right: 10px;
}

.entrar-facebook a{
    margin: 0;
    background-color: white;
}

#forgot-password{
    margin-bottom: 20px;
    font-size: 14px;
    color: #385185;
    margin-top: 20px;
    background-color: white;
}

.cadastro{
    width: 350px;
    height: 63px;
    border: 1px solid lightgray;
    text-align: center;
    line-height: 60px;
    margin-top: 10px;
}

.cadastro p{
    background-color: white;
}

.cadastro a{
    color: #0095f6;
    font-weight: bolder;
}

#app{
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-store{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 350px;
}

.apps img{
    width: 150px;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    width: max-content;
}

footer ul{
    display: flex;
    padding: 0;
}

footer ul li{
    color: gray;
    font-size: 14px;
    margin: 0;
}

footer ul li a{
    margin-left: 10px;
    margin-right: 10px;
    color: gray;
    font-size: 14px;
}

.topicos{
    margin-top: 10px;
    margin-bottom: 20px;
}





