@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body{
    margin: 0;
    font-family:'Quicksand';
}

body.dark-mode{
    background-color: black; 

}

.central{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#buttonMode{
    font-size: 3rem;
    width: 40%;
    height: 15%;
    background-color: black;
    color: white;
    border-radius: 10%;
    text-transform: uppercase;
    transition: all 0.5s linear;
    border: none;
}

#buttonMode.dark-mode{
    background-color: white;
    color: black;

}